@layer fish {
  html,
  body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;

    color: var(--fish-font-color);
    background: var(--light-noise) repeat scroll 0% 0%
      var(--fish-background-color);

    scroll-behavior: smooth;

    font-feature-settings: normal;
    font-variation-settings: normal;
    font-family:
      "ToneOZ-Tsuipita-TC",
      "LXGW WenKai",
      "LXGW ZhenKai",
      "Noto Sans TC",
      -apple-system,
      BlinkMacSystemFont,
      MiSans,
      "PingFang SC",
      "Microsoft YaHei",
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      "Noto Sans",
      sans-serif;

    font-size: 18px;
    font-weight: normal;

    text-size-adjust: 100%;
    text-decoration: none;
    text-autospace: ideograph-alpha ideograph-numeric insert;

    line-height: 1.5rem;
    letter-spacing: 0.02em;
  }

  ::selection {
    color: var(--fish-highlight-color);
  }

  a {
    color: var(--fish-highlight-color);
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
  }

  a[data-external]::before {
    content: "🔗";
  }

  a.link-animate,
  p a,
  div.content-wrapper > article > * a {
    &::after {
      content: "";
      position: absolute;
      inset: auto 0 0;
      height: 2px;
      opacity: 0.2;
      background-color: var(--fish-highlight-color);
      transform: scaleX(0);
      transform-origin: right;
      transition:
        transform 0.3s ease,
        opacity 0.5s ease;
    }

    &:hover::after {
      opacity: 0.9;
      transform: scaleX(1);
      transform-origin: left;
    }

    &:visited {
      opacity: 0.8;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    .anchor {
      margin: 0 0.5rem;
      transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
      visibility: hidden;
      opacity: 0;
    }

    &:hover .anchor {
      visibility: visible;
      opacity: 1;
    }
  }

  code {
    font-family:
      "JetBrains Mono", "Fira Code", Monaco, "Courier New", Consolas, monospace;
  }

  .code-block {
    .code-header {
      position: relative;

      .code-copy {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        border-radius: 0.25rem;
        margin: 0.25rem;

        width: 1.5rem;
        height: 1.5rem;

        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6.6 11.397c0-2.726 0-4.089.843-4.936c.844-.847 2.201-.847 4.917-.847h2.88c2.715 0 4.073 0 4.916.847c.844.847.844 2.21.844 4.936v4.82c0 2.726 0 4.089-.844 4.936c-.843.847-2.201.847-4.916.847h-2.88c-2.716 0-4.073 0-4.917-.847s-.843-2.21-.843-4.936z'/%3E%3Cpath fill='%23000' d='M4.172 3.172C3 4.343 3 6.229 3 10v2c0 3.771 0 5.657 1.172 6.828c.617.618 1.433.91 2.62 1.048c-.192-.84-.192-1.996-.192-3.66v-4.819c0-2.726 0-4.089.843-4.936c.844-.847 2.201-.847 4.917-.847h2.88c1.652 0 2.8 0 3.638.19c-.138-1.193-.43-2.012-1.05-2.632C16.657 2 14.771 2 11 2S5.343 2 4.172 3.172' opacity='0.5'/%3E%3C/svg%3E");
        background-color: var(--fish-font-color);
        mask-image: var(--svg);
        mask-repeat: no-repeat;
        mask-size: 100% 100%;

        visibility: hidden;
        opacity: 0;
        transition:
          visibility 0.3s ease,
          opacity 0.3s ease,
          background-color 0.3s ease;

        &:hover {
          visibility: visible;
          opacity: 1;
          background-color: var(--fish-highlight-color);
        }
      }

      .code-copy.copied {
        --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9.5 2A1.5 1.5 0 0 0 8 3.5v1A1.5 1.5 0 0 0 9.5 6h5A1.5 1.5 0 0 0 16 4.5v-1A1.5 1.5 0 0 0 14.5 2z'/%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M6.5 4.037c-1.258.07-2.052.27-2.621.84C3 5.756 3 7.17 3 9.998v6c0 2.829 0 4.243.879 5.122c.878.878 2.293.878 5.121.878h6c2.828 0 4.243 0 5.121-.878c.879-.88.879-2.293.879-5.122v-6c0-2.828 0-4.242-.879-5.121c-.569-.57-1.363-.77-2.621-.84V4.5a3 3 0 0 1-3 3h-5a3 3 0 0 1-3-3zm9.012 8.511a.75.75 0 1 0-1.024-1.096l-3.774 3.522l-1.202-1.122a.75.75 0 0 0-1.024 1.096l1.715 1.6a.75.75 0 0 0 1.023 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
        visibility: visible;
        opacity: 1;
        background-color: var(--fish-highlight-color);
      }

      .code-language {
        position: absolute;
      }

      &:not(.has-title) {
        .code-language {
          right: 0.5rem;
          top: 0.25rem;
        }
      }

      &.has-title {
        background-color: var(--fish-highlight-color);
        color: var(--fish-background-color);
        border-radius: 1em 1em 0 0;
        margin-top: 1em;
        margin-bottom: -1em;
        padding: 0 1em;

        ::selection {
          color: var(--fish-font-color) !important;
        }

        .code-language {
          right: 3em;
          opacity: 0.6;
        }

        .code-copy {
          width: 1.5em;
          height: 1.5em;
          right: 1em;
          visibility: visible;
          opacity: 0.6;
          background-color: var(--fish-background-color) !important;
        }
      }
    }

    &:hover .code-header {
      .code-language {
        opacity: 0.8;
      }

      .code-copy {
        visibility: visible;
        opacity: 1;
      }
    }

    &:has(pre[data-language="plaintext"]),
    &:has(pre[data-language="markdown"]) {
      .code-header:not(.has-title) {
        .code-language {
          display: none;
        }
      }
    }

    pre.astro-code {
      border-radius: 0.5rem;

      code {
        .diff.add {
          background-color: #166534;
          position: relative;

          &::before {
            color: #22c55e;
            content: "+";
            left: -1rem;
            position: absolute;
          }
        }

        .diff.remove {
          background-color: #991b1b;
          opacity: 0.8;
          position: relative;

          &::before {
            color: #ef4444;
            content: "-";
            left: -1rem;
            position: absolute;
          }
        }
      }
    }
  }

  &.dark {
    .astro-code,
    .astro-code span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
    }
  }

  pre {
    /* border-radius: 0.25em; */
    padding: 0.25em 0.5em;
  }

  pre > code *::selection {
    background-color: var(--fish-contrast-color-5);
    color: inherit;
  }

  p {
    margin-top: 1em;
    margin-bottom: 0.25em;
  }

  p,
  li {
    code {
      background-color: var(--fish-highlight-color);
      color: var(--fish-background-color);
      opacity: 0.85;
      box-sizing: border-box;
      border-radius: 0.25em;

      /* 
        Why make different paddings between top and bottom: 
        on firefox the `::selection` is not in center of the text, (no problem on chrome)
        if make same padding on top and bottom, 
        it will display differently top/bottom padding when select the text.
      */
      padding: 0.06em 0.25em 0.05em;
      font-style: italic;

      &::selection {
        background-color: var(--fish-background-color);
        color: var(--fish-highlight-color);
      }
    }
  }

  &.dark {
    p,
    li {
      code {
        color: var(--fish-font-color);

        &::selection {
          color: var(--fish-font-color);
        }
      }
    }
  }

  hr {
    border-color: var(--fish-contrast-color);
  }

  ul {
    margin-top: 0.5rem;
  }

  li {
    margin-top: 0.025em;
  }

  img {
    border-radius: 0.5rem;
    max-width: 100%;
    height: auto;
  }

  blockquote {
    position: relative;
    margin: 0.5rem 0.25rem;
    padding: 0.5rem 0.5rem 0.25rem 2.5rem;

    font-size: 1.1rem;
    font-style: italic;
    line-height: 1.6;

    background: var(--fish-card-background);

    border: var(--fish-contrast-color-5) 1px solid;
    border-left: 0.5em solid #78c0a8;
    border-radius: 0.25rem;

    &::before {
      content: "\201C";
      position: absolute;
      top: -1rem;
      left: 0.5rem;
      font-family: Arial, serif;
      font-size: 4em;
      color: #78c0a8;
    }

    blockquote {
      margin: 0 0 0.25rem;
      padding: 0.25rem 0.5rem;
      border: none;
      border-left: 0.25em solid #78c0a8;
      border-radius: 0.2rem;

      p:first-child {
        margin-top: 0;
      }

      p:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: none;
        position: absolute;
        top: -1rem;
        left: 0.5rem;
        font-family: Arial, serif;
        font-size: 4em;
        color: #78c0a8;
      }
    }
  }

  iframe {
    border-radius: 0.5rem;
    margin-inline: auto;
    max-width: 100%;
  }

  article {
    ::selection {
      background-color: var(--fish-contrast-color-1);
    }
  }

  .hidden {
    display: none;
  }

  .transparent {
    opacity: 0;
  }

  @keyframes pulsate {
    0% {
      opacity: 0.15;
    }

    50% {
      opacity: 0.25;
    }

    100% {
      opacity: 0.15;
    }
  }
}
